
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}


.heading {
  text-align: center;
  font-size: 3rem; 
  margin-bottom: 3rem; 
  margin-top: 1.5rem; 
  font-weight: bold;
  letter-spacing: 0.5px;
}


.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  padding: 0;
  list-style-type: none; 
}


@media (max-width: 620px) {
  .list {
    grid-template-columns: repeat(2, 1fr); 
  }
} 
